{{ define "main" }}
<header class="masthead">
  <h1 class="masthead-title--small">
    <a href="/">{{ .Site.Title }}</a>
  </h1>
</header>
<div class="content post h-entry">
	{{ if .Title }}
		<h1 class="page-title">{{ .Title }}</h1>
	{{ end }}
  <div class="post-date">
     <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
   </div>
   <div class="e-content">
   {{ .Content }}
   </div>
  {{ if .Params.location_latitude }}
    <a href="/map/?{{ .Params.location_latitude }},{{ .Params.location_longitude}},16"><img src="/geotag.svg" width="20" height="20" style="max-width: 20px;" /></a>
  {{ end }}
 </div>

 {{ if .Site.Params.include_conversation }}
 <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
 {{ end }}

 {{ end }}
