{{ define "main" }}
<!--
<header class="masthead">
  <h1 class="masthead-title~~small">
    <a href="/">{{ .Site.Title }}</a>
  </h1>
</header>
 -->
<div class="content page">
  <h1 class="page-title">{{ .Title }}</h1>
  {{ .Content }}
</div>

<script type="text/javascript">

var osmUrl = 'https://{s}.tile.osm.org/{z}/{x}/{y}.png',
    osmAttribution = '© <a href="https://osm.org/copyright">OpenStreetMap</a> contributors',
    osmOptions = {attribution: osmAttribution};
    var osm = new L.TileLayer(osmUrl, osmOptions);

if (location.search.substring(1)) {
    var qs = location.search.substring(1);
    var url = qs.split(',',3);
    var lat = parseFloat(url[0]);
    var lng = parseFloat(url[1]);
    var zmn = parseFloat(url[2]);
    vars = url.vars
}
else {
    var lat = 43.33957;
    var lng =  4.57031;
    var zmn = 2
}

var map = new L.Map('map', {
    center: new L.LatLng(lat,lng),
    zoom: zmn,
    layers: [osm]
});

var baseLayers = {
    "Open Street Map": osm
};

var leafIcon = L.icon({
    iconUrl: 'https://davidhall.uk/images/gmarker.png',
    iconAnchor:   [10,20],
    popupAnchor:  [0,-22]
});

{{ $list := (where .Site.Pages "Type" "post") }} {{ range $list }}{{ if.location_latitude }}
var marker = new L.Marker([{{ .location_latitude  | safeJS  }},{{ .location_longitude  | safeJS  }}], {icon: leafIcon} ).addTo(map).bindPopup("<a href='{{ .Permalink }}'>{{ .Date.Format "2006-01-02" }}</a>");
{{ end }} {{ end }}

function onMapClick(e) {
    var latlngStr = '(' + e.latlng.lat.toFixed(3) + ', ' + e.latlng.lng.toFixed(3) + ')';
    document.getElementById('message').innerHTML = e.latlng;
    displayMessage(latlngStr);
}
map.on('click', onMapClick);

</script>

{{ end }}
